.insertaside {
font-size: 0.8em;
color: #1e1e1e;
left: 600px;
width: 250px;
text-align: left;
float: right;
margin: 0px 0px 20px 10px;
display: block;
line-height: 1.3em;
padding: 10px 10px 10px 10px;
border: solid 1px black;
background-color: #f0f0f0;
}
